:root{
	--mainColor:#15202B;
	--secondaryColor:#192734;

	--borderColor:#164D56;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;


}

.paper {
	background: #111921
}

.number {
	background: #111921
}

.number:nth-child(1), .number:nth-child(2), .number:nth-child(3), .number:nth-child(4) {
	background: #111921
}

i {
	color: white;
}