:root{
	--mainColor:#eceaea;
	--secondaryColor:#fff;

	--borderColor:#c2bfbf;

	--mainText:black;
	--secondaryText:#464c52;

	--themeDotBorder:#22272c;

	/* --previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6; */


	--buttonColor:black;

	/* For Contact me card */

	--gray: #808080;
	--gray-medium: #c1bfbf;
	--gray-light: #d3d3d3;
	--paper-color: #eff8fe;


}
  

html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body *{
	transition: 0.5s;
}


h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: Lobster;
	font-weight: 500;
}

p, li, span, label, input, textarea{
	color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
}

i {
	font-size: 0.9rem;
}

a{
	text-decoration: none;
	color:#17a2b8;
}

ul{
	list-style: none;
}

h1 { font-size: 3.5rem; margin-top: 1.5rem;}
h2 { font-size: 2.25rem;}
h3 { font-size: 1.75rem;}
h4 { font-size: 1.5rem;}
h5 { font-size: 1.25rem;}
h6 { font-size: 1rem;}


.container-1{
	background-color: var(--mainColor);
	border-bottom:1px solid var(--borderColor);
	overflow: auto;
}

.container-2{
	background-color: var(--secondaryColor);
	border-bottom:1px solid var(--borderColor);
    overflow: auto;
    margin-top: 2rem;
}



/* FIRST SECTION */

.main-container{
	width: 75em;
    margin: 0 auto;
    margin-bottom: 2rem;
}


.greeting-wrapper{
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;

}

.intro-wrapper{
	background-color: var(--secondaryColor);
	border:1px solid var(--borderColor);
	border-radius:5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}


.nav-wrapper{
	border-radius:5px 5px 0 0;
	grid-area:nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
}

#navigation a{
	color:var(--mainText);
}


#navigation{
	margin:0;
	padding: 10px;
}

#navigation li{
	display: inline-block;
	margin-right: 5px;
	margin-left:5px;
}

.dots-wrapper{
	display: flex;
	padding: 10px;
}

#dot-1{
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}

.browser-dot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}


.left-column{
	grid-area: left-column;
	padding-top:50px;
	padding-bottom: 50px;
}

#profile_pic{
	display: block;
	margin:0 auto;

	height: 200px;
	width: 200px;
	object-fit: cover;
	
}


#theme-options-wrapper{
	display: flex;
	justify-content: center;
}

/* Theme Color Options */

.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}


.theme-dot:hover{
	border-width: 5px;
}


#light-mode{
	background-color: #fff;
}

#blue-mode{
	background-color: #192734;
}

#green-mode{
	background-color: #78866b;
}

#purple-mode{
	background-color: #7E4C74;
}


.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;

	
	padding-bottom: 50px;
}

/* Icon Text */

.icon-text {
  /*font-size: 3em;*/
}
.first, .second, .third {
  display: flex;
  align-items: center;
  
}
.icon-text img {
  margin: 10px;
  padding: 10px;
  transition: margin 300ms;
}
.first:hover img, .second:hover img, .third:hover img {
  margin-left: 25px;
}


/* SECOND SECTION */

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.education-card, .info-card {
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.education-card ul, .info-card ul{
	padding: 0;
}

.education-card h3, .education-card ul, .info-card h3, .info-card ul {
    text-align: center;
}

.education-card li, .info-card li {
    padding: 5%;
}



/* THIRD SECTION */

.video-card {
    text-align: center;
    padding: 1rem;
}
.video-card-top {
    border-radius: 10px;
    border-top: 10px solid #f20e0e;
    box-shadow: 16px 13px 42px -17px rgba(0,0,0,0.69);
    height: 350px;
    width: 90%;
}

/* FOURTH SECTION */


#fsw-watermark {
    display: none !important;
}



/* FIFTH SECTION */

section.footer .main-container{
	display: flex;
}

section.footer .main-container img{
	align-self: center;
	width: 12.5rem !important;
	height: 12.5rem !important;
}

.contact-wrapper {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Courier New, sans-serif;
}

.paper p {
	font-size: 1rem;
	font-family: 'Hachi Maru Pop', cursive;
}

.paper {
	position: relative;
	padding: 10px;
	width: 12rem;
	min-height: 120px;
	background: linear-gradient(
	  135deg,
	  var(--paper-color),
	  85%,
	  var(--gray-light)
	);
	box-shadow: 1px 0 1px var(--gray);
	text-align: center;
  }
  
  /* Tacks */
  .paper::before {
	content: "";
	position: absolute;
	left: 5px;
	top: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: var(--gray);
  }
  
  .paper::after {
	content: "";
	position: absolute;
	right: 5px;
	top: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: var(--gray);
  }
  
  .numbers {
	display: flex;
	min-height: 11rem;
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .number {
	position: relative;
	width: 100%;
	background: linear-gradient(
	  to right,
	  var(--paper-color),
	  80%,
	  var(--gray-light)
	);
	border-top: 1px dashed var(--gray);
	box-shadow: 1px 1px 1px var(--gray);
	transform-origin: center top;
  }
  
  .link-wrapper {
	position: absolute;
	display: flex;
	top: 0;
	transform: rotate(90deg);
	transform-origin: top left;
	font-size: 0.9rem;
	margin-left: 1.7rem;
	margin-top: 1rem;
	align-items: center;
  }
  
  .link-wrapper i {
	margin-right: 5px;
	font-size: 1.1rem;
  }
  
  .link-wrapper a {
	text-decoration-style: dashed;
	font-family: sans-serif;
  }
  
  .number:nth-child(2) {
	transform: skew(-5deg, 0deg);
	background: var(--paper-color);
  }
  
  .number:nth-child(2)::after,
  .number:nth-child(4)::after {
	content: "";
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(
	  to bottom,
	  var(--gray-light),
	  5%,
	  rgba(211, 211, 211, 0)
	);
  }
  
  .number:nth-child(1),
  .number:nth-child(3) {
	background: linear-gradient(
	  to right,
	  var(--paper-color),
	  60%,
	  var(--gray-light)
	);
  }
  
  .number:nth-child(4) {
	transform: skew(-8deg, 0deg);
	background: var(--paper-color);
  }
  
  .number:nth-child(5) {
	transform: skew(-3deg, 0deg);
  }

  img.pic {
	border-radius: 10px;
  }



/* MEDIA QUERIES */

@media screen and (min-width: 1500px) and (max-width: 2000px){
	* {
		font-size: 24px;
	}
	.main-container{
		width: 95%;
	}

	.video-card-top {
		height: 500px;
	}
}

@media screen and (min-width: 2001px) and (max-width: 3000px){
	* {
		font-size: 30px;
	}
	.main-container{
		width: 90%;
	}

	.video-card-top {
		height: 600px;
	}
}

@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}
}

@media screen and (max-width: 800px){
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
	}

	.right-column{
		justify-content: center;
	}

}

@media screen and (max-width: 750px){

	section.footer .main-container{
		display: block;
	}
	section.footer img#profile_pic {
		display: none;
	}
}

@media screen and (max-width: 600px){
    .about-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .video-card {
        text-align: unset;
        width: 100%;
    }
}



